.index{
  font-size: 30px;
  font-family: fantasy;
}
#home{
  background-image: url(/images/playstation.png);
  width: 100%;
}
.hero-page{
  color: 	 #0000ff
  font-family: fantasy;
  font-size: 20px

}
