<!DOCTYPE html>
<html>
  <head>
    <title>Captain Loco</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <nav class="navbar navbar-inverse navbar-fixed-top index">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Captain Loco</a>
        </div>
        <ul class="nav navbar-nav home">
          <li><a href="/squads">VIEW SQUAD LIST</a></li>
          <li><a href="/squads/new">ADD NEW SQUAD</a></li>

        </ul>
      </div>
    </nav>
  </head>
  <body id="home">
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
