<br>
<br>
<br>
<div class="page-header">
  <h1>ALL SQUADS <small>Select Squad</small></h1>
</div>
<br>
<ul>
  #foreach ($squad in $squads)
    <li><a href="/squads/$squad.getId()">$squad.getName()</a></li>
    <a href="/squads/$squad.getId()/heroes/new">ADD NEW HERO</a>
  #end
</ul>
