<br>
<br>
<br>
<div class="squad-form">
<div class="add-squad">
<h1>ADD A SQUAD</h1>

<form action="/squads" method="post">
  <label for="name">SQUAD NAME</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">ADD SQUAD</button>
</form>
</div>
</div>
