<div class="page-header">
<h1>$squad.getName() heroes:</h1>
</div>

<ul>
#foreach ($hero in $squad.getHeroes())

$hero.getName() $hero.getCreatedAt()
<li>$hero.getAge()</li>
<li>$hero.getSpower()</li>
<li>$hero.getWeakness()</li>
<br>
#end
</ul>


<a href="/squads/$squad.getid()/heroes/new">ADD NEW HERO</a>
<a href="/squad">ALL SQUADS</a>
